{!-- Training Menu Index --}
{embed="assets/header"}
<link rel="stylesheet" href="{stylesheet='assets/style'}">
	<header id="news-header">
		<h2>Applus News</h2>
	</header>
	{exp:channel:entries orderby="date" sort="desc" channel="news"}
	<article class="news">
		<header>
			<h3>
				<a href="{url_title_path='news/article-view'}">{title}</a>
			</h3>
			<p class="newsDate">Posted {entry_date format='%l %F %d, %Y'}.</p>
		</header>
		<div>
			<p>
				{intro}
			</p>
		</div>
		<footer>
			<a href="{url_title_path='news/article-view'}">Read More.</a>
		<footer>
	</article>
	{/exp:channel:entries}
{embed="assets/scripts"}
	
<script></script>