#hidden system files
.DS_Store
.fuse*

#htaccess
.htaccess

#temp folder
tmp/*


# Images
images/avatars/
images/captchas/
images/smileys/
images/member_photos/
images/signature_attachments/
images/pm_attachments/

# Caches
sized/
thumbs/
_thumbs/
*/expressionengine/cache/*

# Media
media/

# Temp folder for PDF generation
tmp/*