{embed="assets/header"}
<div id="work_reports_details" >
    {exp:workreports:wrDetails projid="{segment_3}"}
    {form_open}
    <fieldset id="topOfTicket">
        <h2>Work Report {project_id}</h2>
        <h3>Execution Date</h3>
        <div class="row-fluid">
            <div class="span12">
                <table>
                    <tr class="wp_lores">
                        <td colspan="3">Execution Date</td>
                    </tr>
                    <tr>
                        <td class="workreports_date"><input type="date" name="execution_date" value="{execution_datetime format="%Y-%m-%d"}" /></td>
                        <td class="omit_label">Execution Date</td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>

        <h3>RTD Reference#</h3>
        <div class="row-fluid">
            <div class="span12">
                <table>
                    <tr class="wp_lores">
                        <td colspan="3">RTD Ref#</td>
                    </tr>
                    <tr>
                        <td><input type="text" name="rtd_reference" value="{rtd_reference}" /></td>
                        <td class="omit_label">RTD Ref#</td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </fieldset>

    <fieldset id="customer">
        <h3>Customer</h3>
        <div class="row-fluid">
            <div class="span12">
                <table>
                    <tr class="wp_lores">
                        <td colspan="3">Name</td>
                    </tr>
                    <tr>
                        <td><input disabled="" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" name="customer_name" value="{customer_name}" /></td>
                        <td class="omit_label">Name</td>
                        <td><pre>{customer_address}</pre></td>
                    </tr>
                </table>
            </div>
        </div>

        <h3>Customer Reference</h3>
        <div class="row-fluid">
            <div class="span12">
                <table>
                    <tr class="wp_lores">
                        <td colspan="3">Customer Ref#</td>
                    </tr>
                    <tr>
                        <td><input type="text" name="customer_reference" value="{customer_reference}" /></td>
                        <td class="omit_label">Customer Ref#</td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>

        <h3>Work Location</h3>
        <div class="row-fluid">
            <div class="span12">
                <table>
                    <tbody>
                    <tr class="wp_lores">
                        <td colspan="3">Location</td>
                    </tr>
                    <tr>
                        <td><input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" name="work_location_name" value="{work_location_name}" /></td>
                        <td class="omit_label">Location</td>
                        <td>
                            <pre class="address"><a href="//maps.google.com/maps?q={work_location_address}">{work_location_address}</a></pre>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <h3>Customer Contact Person</h3>
        <div class="row-fluid">
            <div class="span12">
                <table>
                    <tr class="wp_lores">
                        <td colspan="3">Name</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" name="customer_contact_name" value="{customer_contact_name}" />
                        </td>
                        <td class="omit_label">Name</td>
                        <td>
                            <div>phone: <a id="phone" href="tel://{customer_contact_phone}">{customer_contact_phone}</a></div>
                            <div>cell: <a id="cell" href="tel://{customer_contact_mobile}">{customer_contact_mobile}</a></div>
                            <div>email: <a id="email" href="mailto:{customer_contact_email}">{customer_contact_email}</a></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <h3>Procedures</h3>
        <div class="row-fluid">
            <div class="span12">
                <table>
                    <tbody>
                    <tr>
                        <td><input disabled="disabled" type="text" name="research_procedure_id" value="{research_procedure_id}" /></td>
                        <td class="omit_label"></td>
                        <td>Research Procedure: <a href="{research_procedure_pdf}">{research_procedure_description}</a></td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" type="text" name="review_procedure_id" value="{review_procedure_id}" /></td>
                        <td class="omit_label"></td>
                        <td>Review Procedure: <a href="{review_procedure_pdf}">{review_procedure_description}</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </fieldset>

    <fieldset id="resources" class="single-numeric">
        <h3>Resources</h3>
        <div>
            <div>
                <table>
                    <tbody>
                    {resources}
                    <tr>
                        <td>
                            <input type="hidden" name="resources[{resource_id}][resource_id]" value="{resource_id}">
                            <input type="hidden" name="resources[{resource_id}][name]" value="{name}">
                            <input type="number" name="resources[{resource_id}][qty]" min="0" step=".1" size="5" placeholder="Hours" value="{if qty}{qty}{/if}">
                        </td>
                        <td class="unit">Total Hours</td>
                        <td>{name}</td>
                    </tr>
                    {/resources}
                    <tr id="new_resource">
                        <td>
                            <input type="hidden" name="resource_id" value="">
                            <input type="hidden" name="name" value="">
                            <input type="number" disabled="disabled" name="qty" min="0" step=".1" size="5" placeholder="Hours" />
                        </td>
                        <td>Total Hours</td>
                        <td><input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" name="new_resource" /></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </fieldset>

    <fieldset id="sales_items" class="single-numeric">
        <h3>Sales Items</h3>
        <div class="row-fluid">
            <div class="span12">
                <table>
                    <tbody>
                    {sales_items}
                    <tr>
                        <td>
                            <input type="hidden" name="sales_items[{dimension_id}|{item_id}][dimension_id]" value="{dimension_id}" />
                            <input type="hidden" name="sales_items[{dimension_id}|{item_id}][item_id]" value="{item_id}" />
                            <input type="hidden" name="sales_items[{dimension_id}|{item_id}][name]" value="{name}" />
                            <input type="hidden" name="sales_items[{dimension_id}|{item_id}][unit]" value="{unit}" />
                            <input type="number" name="sales_items[{dimension_id}|{item_id}][qty]" min="0" step=".1" size="5" placeholder="Qty" value="{if qty}{qty}{/if}"/>
                        </td>
                        <td class="unit">{unit}</td>
                        <td>{name}</td>
                    </tr>
                    {/sales_items}
                    <tr class="new" id="new_sales_item">
                        <td>
                            <input type="hidden" name="dimension_id" value="" />
                            <input type="hidden" name="item_id" value="" />
                            <input type="hidden" name="name" value="" />
                            <input type="hidden" name="unit" value="" />
                            <input type="number" disabled="disabled" name="qty" min="0" step=".1" size="5" placeholder="Qty" />
                        </td>
                        <td class="unit">Unit</td>
                        <td><input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" name="new_sales_item" ></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </fieldset>

    <fieldset id="materials" class="single-numeric">
        <h3>Material Consumption</h3>
        <div class="row-fluid">
            <div class="span12">
                <table>
                    {materials}
                    <tr>
                        <td>
                            <input type="hidden" name="materials[{dimension_id}|{item_id}][dimension_id]" value="{dimension_id}" />
                            <input type="hidden" name="materials[{dimension_id}|{item_id}][item_id]" value="{item_id}" />
                            <input type="hidden" name="materials[{dimension_id}|{item_id}][name]" value="{name}" />
                            <input type="hidden" name="materials[{dimension_id}|{item_id}][unit]" value="{unit}" />
                            <input type="number" name="materials[{dimension_id}|{item_id}][qty]" min="0" step="1" placeholder="Qty" value="{if qty}{qty}{/if}"/>
                        </td>
                        <td>{unit}</td>
                        <td>{name}</td>
                    </tr>
                    {/materials}
                    <tr class="new" id="new_material">
                        <td>
                            <input type="hidden" name="dimension_id" value="" />
                            <input type="hidden" name="item_id" value="" />
                            <input type="hidden" name="name" value="" />
                            <input type="hidden" name="unit" value="" />
                            <input disabled="disabled" type="number" name="qty" min="0" step=".1" placeholder="Qty" />
                        </td>
                        <td class="unit">Unit</td>
                        <td><input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" name="new_material" /></td>
                    </tr>
                </table>
            </div>
        </div>
    </fieldset>

    <fieldset id="remarks" class="textarea">
        <div class="row-fluid">
            <div class="span12">
                <table>
                    <tr>
                        <td>
                            <textarea name="remarks">{remarks}</textarea>
                        </td>
                        <td>Remarks</td>
                    </tr>
                </table>
            </div>
        </div>
    </fieldset>
    <fieldset id="object_description" class="textarea">
        <div class="row-fluid">
            <div class="span12">
                <table>
                    <tr>
                        <td>
                            <textarea name="object_description">{object_description}</textarea>
                        </td>
                        <td>Object Description</td>
                    </tr>
                </table>
            </div>
        </div>
    </fieldset>
    <fieldset id="order_description" class="textarea">
        <div class="row-fluid">
            <div class="span12">
                <table>
                    <tr>
                        <td>
                            <textarea name="order_description">{order_description}</textarea>
                        </td>
                        <td>Order Description</td>
                    </tr>
                </table>
            </div>
        </div>
    </fieldset>
    <fieldset id="customer_approval" class="textarea">
        <div class="row-fluid">
            <div class="span12">
                <table>
                    <tr>
                        <td>
                            <textarea name="customer_approval">{customer_approval}</textarea>
                        </td>
                        <td>Customer Approval</td>
                    </tr>
                </table>
            </div>
        </div>
    </fieldset>

    <div class="details_submit">
        {actions}
    </div>

    <nav id="form_nav">
        <ul class="nav">
            <li><a href="#topOfTicket">1<span>: RTD Info</span></a></li>
            <li><a href="#customer">2<span>: Customer Info</span></a></li>
            <li><a href="#resources">3<span>: Resources</span></a></li>
            <li><a href="#sales_items">4<span>: Sales Items</span></a></li>
            <li><a href="#materials">5<span>: Materials</span></a></li>
            <li><a href="#remarks">6<span>: Remarks</span></a></li>
        </ul>
    </nav>
    {form_close}
    {/exp:workreports:wrDetails}
</div>
{embed="assets/scripts"}

<script type="text/javascript" src="{path="assets/bootstrap-typeahead"}"></script>
<script type="text/javascript" src="{path="assets/bootstrap-scrollspy"}"></script>
<script type="text/javascript" src="{path="assets/jQueryFormValidator"}"></script>

<script type="text/javascript">
    //Customer Contact TypeAhead
    function customer_contacts(){
        $.post(
            '?ACT=43&output=json&method=contact_person',
            {
                options: {
                    customer_id: $('input[name=customer_id]').val()
                }
            },
            function (data) {
                $('input[name="customer_contact_name"]').typeahead({
                    source: data,
                    onselect: function(selection){
                        var parent = $(this.$element).parents('tr')
                            parent.find("#phone").html(selection.phone)
                                .attr('href', 'tel://'+selection.phone)
                                .after('<input type="hidden" name="customer_contact_phone" value="'+selection.phone+'" />')
                            parent.find("#cell").html(selection.cell_phone)
                                .attr('href', 'tel://'+selection.cell_phone)
                                .after('<input type="hidden" name="customer_contact_cell" value="'+selection.cell_phone+'" />')
                            parent.find("#email").html(selection.email)
                                .attr('href', 'mailto:'+selection.email)
                                .after('<input type="hidden" name="customer_contact_email" value="'+selection.email+'" />')
                                .after('<input type="hidden" name="customer_contact_id" value="'+selection.id+'" />')
                    },
                    property: 'name',
                    items: 6
                })
            },
            'json'
        )
    }

    //Work Location TypeAhead
    function work_locations(){
         $.post(
            '?ACT=43&output=json&method=work_location',
            {
                options: {
                    customer_id: $('input[name=customer_id]').val()
                }
            },
            function (data) {
                $('input[name="work_location_name"]').typeahead({
                    source: data,
                    onselect: function(selection){
                        $(this.$element).parents('tr').find('pre.address')
                            .html('<a href="//maps.google.com/maps?q='+selection.address+'">'+selection.address+'</a>')
                            .before('<input type="hidden" name="work_location_address" value="'+selection.address+'" />')
                            .before('<input type="hidden" name="work_location_id" value="'+selection.id+'" />')
                    },
                    property: 'name',
                    items: 6
                })
            },
            'json'
        )
    }

    //New Resources TypeAhead
    function new_resources(){
         $.post(
            '?ACT=43&output=json&method=resources',
            {
                options: {
                    company_id:  $('input[name=company_id]').val()
                }
            },
            function (data) {

                $('input[name="new_resource"]').typeahead({
                    source: data,
                    onselect: function(selection){
                        var new_row = $(this.$element).parents('tr').clone()
                        new_row.removeAttr('id')

                        new_row.find(':input[name="qty"]').removeAttr('disabled')
                        new_row.find(':input[name="qty"]').attr('name', 'resources[' + selection.id + '][qty]')

                        new_row.find(':input[name="resource_id"]').attr('name', 'resources[' + selection.id + '][resource_id]').val(selection.id)
                        new_row.find(':input[name="name"]').attr('name', 'resources[' + selection.id + '][name]').val(selection.name)

                        //new_row.find('.unit').html(selection.unit)

                        new_row.find(':input[name="new_resource"]').replaceWith(this.$element.val())

                        new_row.insertBefore($(this.$element).parents('tr'))

                        $(this.$element).val('');
                    },
                    property: 'name',
                    items: 6
                });
            },
            'json'
        );
    }

    //New Sales Items TypeAhead
    function new_sales_items(){
         $.post(
            '?ACT=43&output=json&method=contract_items',
            {
                options: {
                    contract_id: $('input[name=contract_id]').val()
                  , film_indicator: 0
                }
            },
            function (data) {

                $('input[name="new_sales_item"]').typeahead({
                    source: data,
                    onselect: function(selection){
                        var new_row = $(this.$element).parents('tr').clone()
                        new_row.removeAttr('id')

                        new_row.find(':input[name="qty"]').removeAttr('disabled')
                        new_row.find(':input[name="qty"]').attr('name', 'sales_items[' + selection.id + '][qty]')

                        new_row.find(':input[name="dimension_id"]').attr('name', 'sales_items[' + selection.id + '][dimension_id]').val(selection.dimension_id)
                        new_row.find(':input[name="item_id"]').attr('name', 'sales_items[' + selection.id + '][item_id]').val(selection.item_id)
                        new_row.find(':input[name="name"]').attr('name', 'sales_items[' + selection.id + '][name]').val(selection.name)
                        new_row.find(':input[name="unit"]').attr('name', 'sales_items[' + selection.id + '][unit]').val(selection.unit)

                        new_row.find('.unit').html(selection.unit)

                        new_row.find(':input[name="new_sales_item"]').replaceWith(this.$element.val())

                        new_row.insertBefore($(this.$element).parents('tr'))

                        $(this.$element).val('');
                    },
                    property: 'name',
                    items: 6
                });
            },
            'json'
        );
    }

    //New Materials TypeAhead
    function new_materials(){
         $.post(
            '?ACT=43&output=json&method=contract_items',
            {
                options: {
                    contract_id: $('input[name=contract_id]').val()
                  , film_indicator: 1
                }
            },
                function (data) {

                $('input[name="new_material"]').typeahead({
                    source: data,
                    onselect: function(selection){
                        var new_row = $(this.$element).parents('tr').clone()
                        new_row.removeAttr('id')

                        new_row.find(':input[name="qty"]').removeAttr('disabled')
                        new_row.find(':input[name="qty"]').attr('name', 'materials[' + selection.id + '][qty]')

                        new_row.find(':input[name="dimension_id"]').attr('name', 'materials[' + selection.id + '][dimension_id]').val(selection.dimension_id)
                        new_row.find(':input[name="item_id"]').attr('name', 'materials[' + selection.id + '][item_id]').val(selection.item_id)
                        new_row.find(':input[name="name"]').attr('name', 'materials[' + selection.id + '][name]').val(selection.config_name)
                        new_row.find(':input[name="unit"]').attr('name', 'materials[' + selection.id + '][unit]').val(selection.unit)

                        new_row.find('.unit').html(selection.unit)

                        new_row.find(':input[name="new_material"]').replaceWith(this.$element.val())

                        new_row.insertBefore($(this.$element).parents('tr'))

                        $(this.$element).val('');
                    },
                    property: 'config_name',
                    items: 6
                });
            },
            'json'
        );
    }

    $(document).ready(function() {
        $('input,textarea').focus(function() {
            $(this).parent().parent().addClass('active');
        });

        $('input,textarea').blur(function() {
            $(this).parent().parent().removeClass('active');
        });

        $('#topOfTicket tr,#customer tr,.single-numeric tr,.textarea tr').click(function() {
            $(this).find("input,textarea").focus().select();
        });

        work_locations(  );
        customer_contacts(  );

        new_resources(  );
        new_sales_items(  );
        new_materials(  );

        // var signature_box = new CanvasDrawr({
        //     id:"signature",
        //     size: 5
        // });
    });

</script>