{embed="assets/header"}
<div id="work_reports_index">
	<header>
		<h2>Work Reports</h2>
	</header>
	{exp:workreports:wrList}
		<a href="{path='workreports/details/{ProjectLink}'}" class="work_reports">
			<div>
				<p><h3>Work Report ID</h3> <span>{ProjectID}</span></p>
				<p><h3>Scheduled Date</h3> {start_datetime format="%m/%d/%Y %H:%i"}</p>
			</div>
			<div>	
				<p><h3>Customer Name</h3> {CustomerName}</p>
				<p><h3>Work Location</h3> {DeliveryName}</p>
			</div>
			<div>	
				<p><h3>Customer Ref</h3> {CustomerRef}</p>
				<p><h3>RTD Ref</h3> {RTDRef}</p>
			</div>
			<div>
				<p><h3>Contact Person</h3> {CustomerContactPersonName}</p>
			</div>
		</a>
	{/exp:workreports:wrList}
</div>
{embed="assets/footer-page"}
{embed="assets/scripts"}  

<script>

	$('#work_reports_index').parent().parent().addClass('details_background');

</script>
	
{embed="assets/footer-html"}