{embed="assets/header"}
<div id="work_reports_index">
	<header>
		<h2>Work Reports</h2>
	</header>
	<table>
	{exp:workreports:wrList}
		<tr>
			<td class="color_bar"></td>
			<td>
				<a href="{path='workreports/details/{project_order_id}-{project_work_order_id}-{project_work_report_id}'}" class="work_reports">
					<div>
						<p><h3>Work Report ID</h3> <span>{project_order_id}/{project_work_order_id}/{project_work_report_id}</span></p>
						<p><h3>Scheduled Date</h3> {start_datetime format="%m/%d/%Y %H:%i"}</p>
					</div>
					<div>	
						<p><h3>Customer Name</h3> {customer_name}</p>
						<p><h3>Work Location</h3> {work_location_name}</p>
					</div>
					<div>	
						<p><h3>Customer Ref</h3> {customer_reference}</p>
						<p><h3>RTD Ref</h3> {rtd_reference}</p>
					</div>
					<div>
						<p><h3>Contact Person</h3> {customer_contact_name}</p>
					</div>
				</a>
			</td>
		</tr>
	{/exp:workreports:wrList}
	</table>
</div>
{embed="assets/scripts"}  

<script>

	$('#work_reports_index').parent().parent().addClass('details_background');

</script>