<!doctype html>

<html lang="en">

<head>

	<title>Oops...</title>

	<link rel="dns-prefetch" href="//ajax.googleapis.com">
	
	<style type="text/css">
		body {
			margin: 0;
			font-family: sans-serif;
			color: rgb(78,78,78);
			font-size: .8em;
		}
		div,
		img {
			width: 100%;
		}
		p {
			margin: 1em;
		}
		.bold {
			font-weight: bold;
		}
		a {
			color: rgb(102,138,158);
		}

		@media only screen and (min-width: 700px) {
			body {
				font-size: 1em;
			}
			div,
			img {
				width: 700px;
				margin: 0 auto;
			}
		}
	</style>

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

</head>

<body>

<div>
	<img src="/media/site-images/squirrels404" alt="Page Not Found">
	<p class="bold">Sorry to everyone that was redirected here.</p>
	<p>A very organized group of squirrels, we were training to be speed-filers, absconded with one of our servers.</p>
	<p>We can only assume they did this with a very sophisticated lever and pulley system as IT assures us the box was very heavy.</p>
	<p>We're confident if we follow the trail of sled tracks, tiny paw prints and peanut shells we will eventually find the culprits and therein the page your were looking for. We apologize for the inconvenience.</p>
	<p class="bold"><a href="#" onClick="history.go(-1);return false;">Click here</a> to go back.</p>
</div>

</body>

</html>