{!-- Main Header --}
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>		<html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>		<html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">

	<link rel="dns-prefetch" href="//ajax.googleapis.com">

	<title>Employee Center</title>
	<meta name="description" content="Applus RTD Employee Center">
	<meta name="author" content="Applus RTD web design team">

	<meta name="viewport" content="width=device-width,initial-scale=1,target-densityDpi=device-dpi">

	<link rel="stylesheet" href="{stylesheet='assets/bootstrap'}">
	<link rel="stylesheet" href="{stylesheet='assets/style'}">
	<!-- end CSS-->

	<!-- jQuery fsk yea! -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="{exp:jquery:script_src}"><\/script>')</script>
</head>
<body lang="en">
	<header class="applus-gray no-select" id="master-header" unselectable="on">
		<h1>Employee</h1><h1>Center</h1>
		<div id="logo"></div>
	</header>
	<div class="applus-orange" id="border" unselectable="on"></div>

	{embed="assets/header-nav"}
	
	<!-- Main content -->
	<div id="main-content">