	<nav class="applus-brown no-select" id="main">
		<span class="left">
			<a href="{path='dashboard'}">Dashboard</a>
			<a href="{path='workreports'}">Work Reports</a>
			<a href="{path='training'}">Training</a>
			<a href="{path='ref'}">Reference</a>
		</span>

		<span class="right">
			<a href="{path='logout'}">Log Out</a>
			<a href="{path='user/details'}" class="iPhone_hide">My Details</a>
		</span>

		<select>
			<option value="" selected="selected">Menu</option>
			<option value="{path='dashboard'}">Dashboard</option>
			<option value="{path='workreports'}">Work Reports</option>
			<option value="{path='training'}">Training</option>
			<option value="{path='ref'}">Reference</option>
			<option value="{path='user/details'}">My Details</option>
		</select>
	</nav>