{embed="assets/header"}
	<div>
		<header id="dashboard-header">
			<h2>{screen_name}</h2>
		</header>
		<nav class="dashboard">
			<div id="work_reports">
				<h3>Work Reports</h3>
				<img id="loading_spinner" style="float: right" class="hidden" src="/media/site-images/spinner-snake.gif">
				<a href="{path='workreports'}">{exp:workreports:dashboard}</a>
			</div>
			<div id="asset_manager">
				<h3>Equipment Manager</h3>
				<a href="{path='equipment_manager'}">You have {exp:equipment_manager:member_eq_count} piece(s) of equipment available to you.</a>
			</div>
			<div id="scores">
				<h3>Quiz Scores</h3>
				<a href="eequiz/score-card/SAFE">You are passing {exp:eequiz:number_passing_in_group prefix="SAFE"} of {exp:eequiz:number_in_group prefix="SAFE"} Safety Quizzes</a>
				<a href="eequiz/score-card/RT">You are passing {exp:eequiz:number_passing_in_group prefix="RT"} of {exp:eequiz:number_in_group prefix="RT"} RT Quizzes</a>
			</div>
		</nav>
	</div>
{embed="assets/scripts"}

<script>
	/*
	 *	AJAX Sync
	 */
    $(document).ready(function() {
    	$.ajax({
    		url: '?ACT=43&output=html&method=sync',
    		beforeSend: function(){
    			//show spinner
    			$('#work_reports > #loading_spinner').removeClass('hidden')
    		},
    		success: function(data){
    			//hide spinner
    			$('#work_reports > #loading_spinner').addClass('hidden')
    			//update dashboard text
    			$('#work_reports a').html(data)
    		},
    		datatype: 'text/html'
    	})
	})
</script>