{!-- Ref - Inspection Packet Instructions --}
{embed="assets/header"}

{exp:channel:entries channel="ref_inspection_packet_instructions"}
<article>
	<header>
		<h2>{title}</h2>
	</header>
	<div id="reference">
		<table>
			<tr>
				<td>{instructions_text}</td>
			</tr>
			<tr>
				<td><a href="{instruction_image}">{instruction_image wrap="image"}</a></td>
			</tr>
		</table>
	</div>
</article>
{/exp:channel:entries}

{embed="assets/footer-page"}
{embed="assets/scripts"}
	
<script></script>
	
{embed="assets/footer-html"}